<section class="user-info container">
  <div class="quick-info row">
    <div class="col-sm-12 col-md-6 d-flex">
      <div class="profile-picture"><i class="far fa-user"></i></div>
      <div class="profile-info">
        <div class="text-muted">{{this.user.email}}</div>
        <h4 class="text-light mb-0">{{this.user.first_name}} {{this.user.last_name}}</h4>
        <div class="profile-status"><span class="badge bg-success">Online</span></div>
        <button class="btn btn-sm btn-outline-primary">Edit Details</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 d-flex">
    </div>
  </div>
</section>
