<section class="container mt-4">
  <div class="quick-info row">
    <div class="col-md-12 col-xl-6 col-xxl-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-6">
            <div class="profile-picture"><i class="far fa-user"></i></div>
          </div>
          <div class="col-6">
            <div class="card-body">
              <div class="card-text text-muted text-right">{{this.user.email}}</div>
              <h4 class="card-text text-light mb-0">{{this.user.firstName}} {{this.user.lastName}}</h4>
              <p class="card-text"><span class="badge bg-success">Online</span></p>
              <p class="card-text">
                <a href="/users/1/edit">
                  <span class="btn btn-sm btn-outline-primary">Edit Details</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-group col-md-12 col-xl-6 col-xxl-8 mt-xl-0 mt-4">
      <div class="card text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <h5 class="card-title">PLAY TIME</h5>
              <p class="card-text">0 Hours</p>
            </div>
            <div class="col-4">
              <h5 class="card-title">CHARACTERS</h5>
              <p class="card-text">0</p>
            </div>
            <div class="col-4">
              <h5 class="card-title">JOINED</h5>
              <p class="card-text">{{this.user.createdAt | date: 'MM/dd/yyyy'}}</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated right now</small>
        </div>
      </div>
    </div>
  </div>
</section>
