<table class="min-w-full divide-y divide-gray-600" appTable appTableSort #table="appTable" #sort="appTableSort"
  [dataSource]="datasource" [pagination]="pagination" [sort]="sort" [filterFn]="filterFn">
  <thead class="border-b border-white/10 text-sm/6 text-white">
    <tr>
      <th scope="col" class="py-2 pr-8 pl-4 font-semibold sm:pl-6 lg:pl-8" appTableSortHeader="name">
        Name
      </th>
      <th scope="col" class="py-2 pr-8 pl-0 font-semibold sm:table-cell" appTableSortHeader="dimensionId">
        Dimenson
      </th>
      <th scope="col" class="py-2 pr-8 pl-0 font-semibold sm:table-cell" appTableSortHeader="id">
        Id
      </th>
      @if (actions) {
      <th scope="col" class="relative py-2 pr-8 pl-0 font-semibold sm:table-cell">
        <span class="sr-only">Chat Actions</span>
      </th>
      }
    </tr>
  </thead>
  <div *ngIf="data === undefined; chatsLoaded" class="text-white">Loading...</div>
  <tbody class="divide-y divide-white/5 text-start" #chatsLoaded>
    <tr *ngFor="let chatChannel of table.data">
      <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
        <div class="flex items-center gap-x-4">
          <div class="truncate text-sm/6 font-medium text-white">
            {{ chatChannel.name }}
          </div>
        </div>
      </td>
      <td class="hidden py-4 pr-4 sm:table-cell sm:pr-8">
        <div class="flex gap-x-3">
          <div class="truncate text-sm/6 font-medium text-white">
            {{ dimensions.get(chatChannel.dimensionId)?.name }}
            <span class="font-mono ml-2 truncate text-gray-500 text-xs">{{ chatChannel.dimensionId }}</span>
          </div>
        </div>
      </td>
      <td class="py-4 pr-8">
        <div class="flex items-center gap-x-4">
          <div class="truncate text-sm/6 font-medium text-white">
            {{ chatChannel.id }}
          </div>
        </div>
      </td>
      @if (actions) {
      <td class="py-4 pr-4 text-right text-sm font-medium whitespace-nowrap sm:pr-3">
        <a [routerLink]="['/admin','chats',chatChannel.id]" class="text-indigo-600 hover:text-indigo-900">
          View
          <span class="sr-only">{{chatChannel.name}}</span>
        </a>
        <a [routerLink]="['/admin','chats',chatChannel.id,'edit']" class="ml-1 text-indigo-600 hover:text-indigo-900">
          Edit
          <span class="sr-only">{{chatChannel.name}}</span>
        </a>
      </td>
      }
    </tr>
  </tbody>
</table>
<app-table-pagination #pagination></app-table-pagination>
