<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" [routerLink]="'.'">Shattered Realms</a>

    <button class="navbar-toggler float-right" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul ngbNav [activeId]="route.url | async" class="navbar-nav">
        <li [ngbNavItem]="link.link" *ngFor="let link of links">
          <a ngbNavLink [routerLink]="link.link">{{link.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
