<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12 hero">
    <img src="/assets/images/CrouchingCharacter.png" alt="Shattered Realms Character" />
  </div>
  <div class="col-md-6 col-sm-12 my-auto text-center">
    <div class="hero-content">
      <h1 class="text-primary">Welcome to<br/> Shattered Realms Online</h1>
      <p class="text-light">
        <span class="btn btn-outline-secondary">Sign Up</span> for a free account to get started playing!
      </p>
    </div>
  </div>
</div>
