<section class="hero container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 hero-image bg-image">
      <img src="/assets/images/CrouchingCharacter.png" alt="Shattered Realms Character" />
      <div class="mask background-blend"></div>
    </div>
    <div class="col-md-6 col-sm-12 my-auto text-center hero-content">
      <h1 class="text-primary">Welcome to<br /> Shattered Realms Online</h1>
      <p>
        <a
          href="https://sso.shatteredrealmsonline.com/realms/default/protocol/openid-connect/registrations?client_id=sro-web&response_type=code&scope=openid profile&redirect_uri=https://shatteredrealmsonline.com/&kc_locale=en"><span
            class="btn btn-outline-secondary">Sign Up</span></a> for a free account to get started playing!
      </p>
    </div>
  </div>
</section>
<section class="features container pt-5">
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <h3 class="text-uppercase fw-bold mb-4">
        ABOUT THE GAME
      </h3>
      <span class="badge bg-dark mx-1"><span class="text-secondary">Release Date:</span> TBD</span>
      <span class="badge bg-dark mx-1"><span class="text-secondary">Genre:</span> MMORPG</span>
      <span class="badge bg-dark mx-1"><span class="text-secondary">Platform:</span> Windows, Mac, & Linux</span>
      <span class="badge bg-dark mx-1"><span class="text-secondary">Developer:</span> Forever Dev</span>
    </div>
  </div>
</section>
