<div class="relative isolate overflow-hidden">
  <svg
    class="absolute inset-0 -z-10 size-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
    aria-hidden="true">
    <defs>
      <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1"
        patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
        stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" />
  </svg>
  <div
    class="absolute top-10 left-[calc(50%-4rem)] -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:top-[calc(50%-30rem)] lg:left-48 xl:left-[calc(50%-24rem)]"
    aria-hidden="true">
    <div class="aspect-1108/632 w-[69.25rem] bg-linear-to-r from-[#80caff] to-[#4f46e5] opacity-20"
      style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)">
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pt-10 pb-24 sm:pb-32 lg:flex lg:px-8 lg:pt-40">
    <div class="mx-auto max-w-2xl shrink-0 lg:mx-0 lg:pt-8">
      <img src="imgs/logo/white.svg" alt="Shattered Realms Online">
      <div class="mt-24 sm:mt-32 lg:mt-16">
        <a href="#" class="inline-flex space-x-6">
          <span
            class="rounded-full bg-indigo-500/10 px-3 py-1 text-sm/6 font-semibold text-indigo-400 ring-1 ring-indigo-500/20 ring-inset">
            What's new
          </span>
          <span class="inline-flex items-center space-x-2 text-sm/6 font-medium text-gray-300">
            <span>Pre-Alpha v0.2</span>
            <svg class="size-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd" />
            </svg>
          </span>
        </a>
      </div>
      <h1 class="mt-10 text-3xl font-semibold tracking-tight text-pretty text-white sm:text-6xl">
        The next generation of <span class="text-indigo-500">MMORPG</span> gaming is coming.
      </h1>
      <p class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
        A blend of proven gameplay mechanics and modern design to create a fresh MMORPG experience.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="#" (click)="register()"
          class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
          Create an Account
        </a>
        <a href="#" class="text-sm/6 font-semibold text-white">
          Learn more <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none relative mix-blend-overlay">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none bg-linear-to-t from-gray-900 to-transparent">
        <img src="imgs/temp/CyberPunkCharacter_1-Cropped.png" alt="App screenshot"
          class="w-[50rem] h-[50rem] bg-transparent bg-blend-overlay">
        <div class="absolute inset-0 bg-gradient-to-t from-gray-900 to-transparent to-30%"></div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-900 pb-24 sm:pb-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-indigo-400">
        Play for Free
      </h2>
      <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl lg:text-balance">
        Experience the game, no credit card required.
      </p>
      <p class="mt-6 text-lg/8 text-gray-300">
        We believe trying a game should be as easy. Come expierence the emerging world of Shattered Realms Online
        and take a journey through the lands of Trinitas in this cyberpunk styled MMORPG.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
            <svg class="size-6 flex-none text-indigo-400" fill="evenodd" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
            </svg>
            Pioneer your own adventure
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-300">
            <p class="flex-auto">
              Explore the world of Trinitas at your own pace while effectively leveling your character.
              All paths allow for effective methods to find better gear and grow your abilities.
              Discover hidden secrets, or take on the challenges of your failed predecessors.
            </p>
            <p class="mt-6">
              <a href="#" class="text-sm/6 font-semibold text-indigo-400">Learn more <span
                  aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
            <svg class="size-6 flex-none text-indigo-400" fill="evenodd" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>
            Maximize your level
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-300">
            <p class="flex-auto">
              Every level you gain will unlock high abilities and skills to help you on your journey.
              The higher your abilities, the more powerful gear you can wear. Find gear that increases your abilities,
              and allows for equipping gear that you would not be able to wear otherwise.
            </p>
            <p class="mt-6">
              <a href="#" class="text-sm/6 font-semibold text-indigo-400">Learn more <span
                  aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
            <svg class="size-6 flex-none text-indigo-400" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />

            </svg>

            Build your community
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-300">
            <p class="flex-auto">
              Join a guild or create your own to build a community of like-minded players.
              Work together to take on the most challenging content, or compete against each other in friendly
              competition. The choice is yours.
            </p>
            <p class="mt-6">
              <a href="#" class="text-sm/6 font-semibold text-indigo-400">Learn more <span
                  aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
