$primary: #66D0FF;
$secondary: #F43838;
$success: #2EC4B6;
$info: #8afff2;
$warning: #da0a3b;
$danger: #910d2e;
$light: #F6F7F8;
$semi-dark: #3F3F3F;
$dark: #282828;
$dark-highlight: #011627;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "semi-dark": $semi-dark,
  "dark": $dark,
  "dark-highlight": $dark-highlight,
)
