<div>
  <!-- Sticky search header -->
  <div
    class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-6 border-b border-white/5 bg-gray-900 px-4 shadow-xs sm:px-6 lg:px-8">
    <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
      <div class="grid flex-1 grid-cols-1">
        <input type="search" name="search" aria-label="Search"
          class="col-start-1 row-start-1 block size-full bg-transparent pl-8 text-base text-white outline-hidden placeholder:text-gray-500 sm:text-sm/6"
          placeholder="Search" id="search-input" #searchInput (change)="searchChange($event)">
        <svg class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-500" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  </div>

  <!-- Bread crumbs -->
  <header>
    <nav class="flex justify-between overflow-x-auto py-4 px-4 sm:px-6 lg:px-8 flex-col sm:flex-row">
      <!--
ol      gap-x-6 px-4 text-sm/6 font-semibold text-gray-400 sm:px-6 lg:px-8
-->
      <ol role="list"
        class="flex items-center space-x-0 sm:space-x-2 text-sm/6 font-semibold text-gray-400 flex-col sm:flex-row">
        @for (breadcrumb of breadcrumbs; track breadcrumb.url) {
        <li>
          <div class="flex items-center">
            @if (!$first) {
            <svg class="size-5 shrink-0 text-gray-700" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            }
            <a [routerLink]="breadcrumb.url" class="cursor-pointer ml-1 sm:m1-2"
              [ngClass]="{'text-indigo-400 hover:text-indigo-300 active:text-indigo-500': isLastBreadcrumb(breadcrumb), 'hover:text-gray-300 active:text-gray-500': !isLastBreadcrumb(breadcrumb)}">{{breadcrumb.label}}</a>
          </div>
        </li>
        }
      </ol>
      <ol
        class="flex items-center sm:justify-end justify-center flex-col sm:flex-row gap-x-6 pl-4 sm:pl-6 lg:pl-8 order-first sm:order-none mb-4">
        @for (btn of extraButtons(); track btn.label) {
        <li>
          <button type="button" [routerLink]="btn.routerLink"
            class="order-first rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:order-none">
            {{ btn.label }}
          </button>
        </li>
        }
      </ol>
    </nav>
  </header>

  <!-- Main content -->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
